extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-slider
		.slider1.owl-carousel.owl-theme
			.item
				img.img-fluid(src="./img/bg.png", alt="")
				.title
					h2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio maxime id dolore neque iure dignissimos cumque inventore libero, sapiente debiti.
					a.btn(href="#") CLICK HERE
			.item
				img(src="./img/bg.png", alt="")
				.title
					h2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio maxime id dolore neque iure dignissimos cumque inventore libero, sapiente debiti.
					a.btn(href="#") CLICK HERE
			.item
				img(src="./img/bg.png", alt="")
				.title
					h2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio maxime id dolore neque iure dignissimos cumque inventore libero, sapiente debiti.
					a.btn(href="#") CLICK HERE

	section.lock2
		.container
			.row
				.tieude
					h3
						span WHY
						|  CHOOSE US
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, vitae soluta est facilis mollitia cum quo consectetur corporis quam cumque pariatur sint quis ullam?
			.row.icon-lock2
				.col-sm-4
					i.fa.fa-book
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum veniam, nisi itaque quae repellendus corrupti perspiciati
				.col-sm-4
					i.fa.fa-desktop
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum veniam, nisi itaque quae repellendus corrupti perspiciati
				.col-sm-4
					i.fa.fa-briefcase
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum veniam, nisi itaque quae repellendus corrupti perspiciati
	section.lock3
		.container
			.row
				.col-sm-6
					.box1
						h3
							span WHY
							|  CHOOSE US
						p.duoih3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum pariatur, modi molestiae temporibus 
						.text
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi animi dicta dignissimos, molestias, sapiente in vitae necessitatibus magni sequi officia mollitia? Dolore eius qui ut, totam ipsam rem eligendi atque?
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi animi dicta dignissimos, molestias, sapiente in vitae necessitatibus magni sequi officia mollitia? Dolore eius qui ut, totam ipsam rem eligendi atque?
							p Lorem ipsum dolorsit amet, consectetur adipisicing elit. Excepturi animi dicta dignissimos, molestias, sapiente in vitae necessitatibus magni sequi officia mollitia? Dolore eius qui ut, totam ipsam rem eligendi atque?
							a.btn.nut CLICK HERE
						
				.col-sm-6
					.box2
						.scrollbar
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia culpa beatae rerum dolore corporis. Ab, ea eligendi. Illum neque adipisci qui ducimus voluptatum a numquam earum illo nostrum natus. Rerum!
	section.lock4
		.container
			.row
				.feedback-tieude
					h3 FEEDBACK
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum dicta facilis labore aperiam. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
			.row.feedback-image
				.col-sm-3
					figure
						img(src="img/feedback2.png", alt="")
					figcaption
						h5 Lorem ipsum dolorp
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				.col-sm-3
					figure
						img(src="img/feedback4.png", alt="")
					figcaption
						h5 Lorem ipsum dolorp
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				.col-sm-3
					figure
						img(src="img/feedback3.png", alt="")
					figcaption
						h5 Lorem ipsum dolorp
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				.col-sm-3
					figure
						img(src="img/feedback1.png", alt="")
					figcaption
						h5 Lorem ipsum dolorp
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
	section.lock5
		.container
			.row
				.col-sm-6.mayanh
				.col-sm-6.moving
					.row.hang1
						h3 MOVING
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum pariatur, modi molestiae temporibus 
					.row.hang2
						.col-sm-3
							i.fa.fa-plane
						.col-sm-9
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sunt quae sapiente labore aperiam adipisci consectetur animi, odit similique neque explicabo perferendis iusto, eligendi beatae suscipit quibusdam omnis
					.row.hang2
						.col-sm-3
							i.fa.fa-train
						.col-sm-9
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt ratione laboriosam voluptate delectus dolorem eveniet dicta iusto, eligendi beatae suscipit quibusdam omnisiusto, eligendi beatae suscipit 
					.row.hang2
						.col-sm-3
							i.fa.fa-taxi
						.col-sm-9
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt ratione laboriosam voluptate delectus dolorem eveniet dicta veritatis aliquid voluptas accusamus 
